@media only screen and (min-width: 500px) {
  .text-center h1 {
    font-family: cursive;
    font-size: -webkit-xxx-large;
  }
  .text-center p {
    width: 70%;
    margin: auto;
  }
  .jumbotron {
    background-color: white;
    padding: 0;
  }

  /* .img-container {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 620px;
    margin-left: -180px;
  } */

  hr {
    border: 2px solid #eba28c;
    width: 70%;
  }
  .img-container img {
    width: 435px;
    height: 280px;
    transition: all 1s;
    /** Tạo độ mượt **/
  }

  .img-container:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .foodRestaurant img {
    width: 280px;
    height: 200px;
  }
  .mb-1,
  .my-1 {
    margin-bottom: 0px !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
