@media only screen and (max-width: 500px) {
  .text-center h1 {
    font-family: cursive;
  }
  /* .img-container {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 620px;
    margin-left: -180px;
  } */
  .jumbotron {
    background-color: white;
    padding-bottom: 0;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #eba28c;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }
  .foodRestaurant {
    position: relative;
  }
  .foodRestaurant:hover .image {
    opacity: 0.7;
  }

  .foodRestaurant:hover .middle {
    opacity: 1;
  }

  .img-container img {
    text-align: center;
    width: 380px;
    height: 280px;
  }
  .foodRestaurant img {
    text-align: center;
    width: 380px;
    height: 280px;
  }
  .search button{
    background-color: #eba28c;
  }
  .search form{
    display: flex;
  }
  /* .row {
    text-align: center;
  } */

  /* .img-container:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }  */
  .disflex {
    display: flex;
    width: 100%;
  }
  .vendor {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
  }
  .datTiec {
    display: grid;
    grid-template-columns: auto;
  }
  .h4 {
    margin-left: 100px;
  }
  .datTiecImg {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 400px;
    text-align: center;
  }
  .datTiecImg img {
    width: 300px;
    height: 200px;
    transition: all 1s;
  }
  .datTiecImg:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .hr {
    width: 40%;
  }
}
