@media only screen and (max-width: 500px) {
  .mb-1,
  .my-1 {
    background-color: #ed9e90;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  .logo{
    display: none;
  }
  .search{
    display: flex;
    padding-top: 0px;
  }
  .search button{
    border: 1px solid #f0f0f0;
    background-color: white;
    border-radius: 5px;
  }
}
