@media only screen and (min-width: 500px) {
  .mb-1,
  .my-1 {
    background-color: #ed9e90;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  .nav-item .active:hover a {
    text-decoration: none;
  }
  .nav-link:hover a {
    text-decoration: none;
  }
  .header_bottom{
    background-color: #ededed;
    height: 100px;
  }
  .search{
    display: flex;
    padding-top: 30px;
  }
  .search button{
    border: 1px solid #f0f0f0;
    background-color: white;
    border-radius: 5px;
  }
}
